
body {
    background-color: silver;
}
.container{
    max-width: max-content;
    border-radius: 10px;

}
.button{
    max-width: 150px;
}
p{
    margin-bottom: 5px;
}
.c{
    padding: 10px;
}
.nameForm{
font-size: 40px;
max-width: max-content;
font-family: 'Times New Roman', Times, serif;


}
